/* タブレット向けレイアウト */
@media (max-width: 1000px) {

}

/* モバイル向けレイアウト */
@media (max-width: 750px) {

  .header-title {
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
  }

  .container {
    width: 100%;
  }

  .top-image-wrapper {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .top-image-food {
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .top-image-nature {
    width: 80%;
    float: none;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .top-image-map {
    width: 80%;
    float: none;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }

  #food-image {
    width: 95%;
    margin: 2.5% 2.5% auto 2.5%;
  }

  #nature-image {
    height: 100%;
    width: 95%;
    margin: 2.5% 2.5% auto 2.5%;
  }

  #map-image {
    margin: 2.5% 2.5% auto 2.5%;
    width: 95%;
    height: 100%;
  }


  /* nature画像のバックの箱 */
  .top-image-nature {
    float: none;
  }

  /* map画像ののバックの箱 */
  .top-image-map {
    float: none;
  }

  .title-box{
    width: 100%;
  }
  .title-box:before{
    display: none;
    border-right: 300px solid transparent;
    /* top: -50px; */
    height: 0;
  }

  .title-box-map {
    width: 100%;
  }

  .title-box-map:before {
    display: none;
    border-right: 300px solid transparent;
    height: 0;
    /* top: -50px; */
  }

  .card-title {
    font-size: 20px;
  }

  .card-title-map {
    font-size: 20px;
  }

  .btn-card {
  }

  .btn-read-more {
    font-size: 15px;
  }

  .caret-down {
    font-size: 15px;
  }

  /* カードのMoreボタン Map*/
  .btn-go-google {
    font-size: 15px;
  }

  .caret-down-map {
    font-size: 15px;
  }

  .section-second {
    width: 100%;
  }


  .section-title {
    padding-top: 0;
    font-size: 30px;
}

.elements {
    margin-top: 5px;
    padding-left: 5%;
    padding-right: 5%;
  }


/* 非表示 */
  .element-left {
    display: none;
  }

  .element-right {
    width: 100%;
  }



  .element-detail {
    width: 40%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    display: inline-block;;
  }

  .element-detail p {
    font-size: 12px;
}

  /* topにへ戻るボタン非表示 */
  .btn-to-top {
    /* margin-right: 15px; */
    display: none;
  }

  /* Natureからtopに戻るボタンを非表示 */
  .btn-to-top-nature {
    display: none;
  }

  /* Accessからtopに戻るボタンを非表示 */
  .btn-to-top-access {
    display: none;
  }

  .page-element div {
    font-size: 20px;
  }

  .page-element {
    top: 5%;
    left: 5%;
  }

  .page-element p {
    font-size: 12px;
    font-weight: normal;
}

.recommendation {
    display: inline-block;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
}

.recommend-image {
    width: 20%;
    display: inline-block;
    float: left;
}

.about-place {
    margin-left: 5%;
    display: inline-block;
}

.about-place p {
    font-size: 12px;
    font-weight: bold;
}

.about-place li {
    font-size: 9px;
}

.about-place a{
  font-size: 3px;
}


  footer p {
    font-size: 10px;
    margin-top: 200px;
    margin-bottom: 30px;
  }
}
