html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img{
  vertical-align: bottom;
}

.header {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.header-title {
  font-family: 'Poiret One', cursive;
  color: rgb(79, 78, 80);
  text-align: center;
  padding-top : 100px;
  font-size: 50px;
}

/* food画像のバックの箱 */
.top-image-food {
  background-color: #FFDA7C;
  text-align: center;
  width: 200px;
  float: left;
  margin: 0 20px
}

/* nature画像のバックの箱 */
.top-image-nature {
  background-color: #A6FF9D;
  text-align: center;
  width: 200px;
  float: left;
  margin: 0 20px
}

/* map画像ののバックの箱 */
.top-image-map {
  background-color: rgb(231, 229, 227);
  text-align: center;
  width: 400px;
  float: left;
  margin: 0 20px
}

/* topの3つの要素をflex使って中央に配置 */
.top-image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#food-image {
  padding-bottom: 0;
  width: 190px;
  margin: 5px 5px auto 5px;
}

#nature-image {
  height: 212px;
  padding-bottom: 0;
  width: 190px;
  margin: 5px 5px auto 5px;
}

#map-image {
  padding-bottom: 0;
  width: 190px;
  margin: 5px 5px 0 5px;
  width: 390px;
  height: 211px;
}

/* 斜めのカードデザイン */
.title-box{
  display: inline-block;
  height: 57px;
  position: relative;
  width: 200px;
  vertical-align: bottom;
}
.title-box:before{
  border-right: 200px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -50px;
  width: 0;
}

/* 斜めのデザインをborderを使って作ってる オレンジ */
.box-food{
  background: #FFB038;
}

.box-food:before {
  border-bottom: 50px solid #FFB038;
}
/* 斜めのデザインはここまで */

/* 斜めのデザインをborderを使って作ってる 緑 */
.box-nature{
  background: #60bf64;
}

.box-nature:before {
  border-bottom: 50px solid #60bf64;
}
/* 斜めのデザインはここまで */

/* 斜めのデザインをborderを使って作ってる 白 */
.title-box-map {
  background: #D8D9D8;
  display: inline-block;
  height: 58px;
  position: relative;
  width: 400px;
  vertical-align: bottom;
}

.title-box-map:before {
  border-bottom: 50px solid #D8D9D8;
  border-right: 400px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -50px;
  width: 0;
}
/* 斜めのデザインはここまで */

.card {
  box-shadow: 0px 7px 3px -3px rgba(0,0,0,0.3);
}

.card-title-map {
  color: rgb(79, 78, 80);
  font-weight: bold;
  float: left;
  margin-left: 10px;
  font-family: 'Francois One', sans-serif;
}

.card-title {
  color: #fff;
  float: left;
  margin-left: 10px;
  font-family: 'Francois One', sans-serif;
}

.btn-card {
  float: right;
  margin-top: 30px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.btn-read-more {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.btn-go-google {
  color: rgb(110, 105, 105);
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid rgb(110, 105, 105);
}

.caret-down {
  margin-left: 3px;
  color: #fff;
}

.caret-down-map {
  margin-left: 3px;
  color: rgb(110, 105, 105);
}

/* foodとnatureの各セクションの共通なcss */
.section-second {
  width: 1170px;
  margin: 0 auto;
}

.section-title {
  padding-top : 200px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  color: rgb(79, 78, 80);
}

.elements {
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.element-left {
  float: left;
  display: inline-block;
  height: 314px;
  padding-top: 35px;
}

.element-right {
  width: 700px;
  float: left;
  display: inline-block;
}

/* elementの設定 */
.element-detail {
  box-shadow: 0px 7px 3px -3px rgba(0,0,0,0.3);
  float: left;
  display: inline-block;
  background-color: rgba(#bab7b7, 1);
  padding: 5px;
  width: 150px;
  margin: 25px;
}

.element-detail p{
  font-size: 13px;
  margin-top: 2px;
  margin-left: 5px;
}

.element-image {
  width: 150px;
}

.btn-to-top {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: right;
  text-align: center;
  display: inline-block;
  color: #FFF;
  background-color: #FFB038;
  border: none;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 100;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.caret-up-foods {
  margin-top: 12px;
}


/* section nature */
.btn-to-top-nature{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: right;
  text-align: center;
  display: inline-block;
  color: #FFF;
  background-color: #60bf64;
  border: none;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 100;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

/* sectin map */
.btn-to-top-access {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: right;
  text-align: center;
  display: inline-block;
  color: #FFF;
  background-color: #a5aba5;
  border: none;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 100;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.from-tokyo {
  margin-top: 35px;
  margin-bottom: 10px;
}

.element-right-from-tokyo {
  width: 400px;
  float: left;
  display: inline-block;
  margin-left: 60px;
}

.vehicle {
  font-size: 20px;
  color: rgb(85, 81, 81);
  margin-bottom: 20px;
  font-family: 'Gudea', sans-serif;
}

.using {
  margin-right: 10px;
}

footer p{
  width: 100%;
  margin-top: 200px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
}
